rojo = #E72A48
azul = #0C18C4
azulClaro = #01AEF0
amarillo = #FFC600
body
	background-color #F6F6F6
	color azulClaro
	font-family 'Yanone Kaffeesatz', sans-serif
	padding-top 70px
	.navbar-default
		background-color #0A18C3
		border-bottom 3px solid rojo
		height 70px
		overflow visible
		.navbar-header
			overflow visible
			.navbar-toggle
				border-color transparent
				margin-top 14px
				&:hover
				&:focus
					background-color transparent
				.icon-bar
					background-color white
					height 4px
					width 30px
			.navbar-brand
				background transparent url(./images/logo-galex-mobile.png) no-repeat left top
				color transparent
				height 70px
				margin 12px 0 0 10px
				position relative
				width 110px
				&:hover
				&:focus
				&:active
					color transparent
	.main-banner
		background transparent url(./images/fondo-banner-principal.jpg) no-repeat center top
		background-size cover
		border-bottom 5px solid rojo
		height 400px
		width 100%
	.brands
		border-bottom 5px solid rojo
		padding-bottom 20px
		.block-unity
			margin 20px 0 0		
			padding 0
			a
				img
					display block
					height auto
					width 100%
	.promos-banner
		background transparent url(./images/fondo-experiencia.png) no-repeat center center
		background-size cover
		height 540px
	.place
		background-color rojo
		overflow hidden
		.section-title
			border-bottom 4px solid azulClaro
			display block
			height auto
			margin 0 auto
			padding 20px 5% 10px 5%
			img
				width 100%
		.place-carousel
			.item
				img
					height auto
					width 100%
				.title
					background rgba(azulClaro,0.8)
					color white
					font-size 1.3em
					height 50px
					line-height 50px
					margin-top -50px
					padding 0 5%
					position relative
				.info
					color white
					overflow hidden
					padding 10px 5%
					.view-more
						color white
						float right
						margin 10px 0
						text-decoration underline
	.find-branches
		background azulClaro url(./images/pin.png) no-repeat left center
		border-radius 3px
		margin 10px auto
		padding 10px 0
		text-align center
		width 90%
		a
			color white
	.newsletter
		background transparent url(./images/fondo-newssletter-galex.jpg) no-repeat center top
		background-size cover
		padding 30px 0
		.title
			margin 20px auto
			width 90%
			img
				height auto
				width 100%
		form
			margin 0 auto 30px auto
			width 90%
			.form-control
				border 1px solid azulClaro
				color azulClaro
			.btn.btn-primary
				background-color azulClaro
				border-color azulClaro
				width 100%
	/*
	Business branches
	*/
	.container-fluid
		background-color red
		overflow hidden
		figure
			margin 0
			padding 0
			img
				height auto
				margin-left -50%
				width 200%
		.inner-logo
			background-color amarillo
			border-bottom 6px solid rojo
			padding 10px 0
			text-align center
			&.galex-kids
				background-color #EA098D
			&.galex-bowl
				background-color rojo
	.all-content
		padding-bottom 20px
		padding-top 20px
		.find-branches
			width 100%
	.branches-container
		&.diversiones-galex
			.diversiones
				display none
		&.galex-kids
			.kids
				display none
		&.galex-bowl
			.bowl
				display none
		.col
			width 48%
			display inline-block
			position relative
			&:first-of-type
				margin-right 3%
			figure
				padding 0
				margin 0
				&.logo
					width 50%
					position absolute
					top 50%
					left 50%
					margin-left -25%
					margin-top -20%
				img
					width 100%
					height auto

	.site-footer
		background-color azul
		overflow hidden
		padding 20px 5% 15px 5%
		.logo-footer
			display block
			margin 0 auto
			width 100px;
			img
				display block
				height auto
				width 100%
		.social-links
			margin 0
			padding 0
			padding-top 20px
			text-align center
			li
				background-color rojo
				display inline-block
				height 33px
				margin-left 10px
				width 32px
				a
					color white
					display block
					font-size 2em
					height 100%
					width 100%